@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    width: 100vw;
    height: 100vh;
}


/* ============================================HEADER========================================= */
header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    padding: 10px;
    background-image: linear-gradient(to right, #005440, #298165 );
}

header > h1{
    flex: 1 0 300px;
    text-align: center;
    font-size: 1.7em;
    text-transform: uppercase;

    color: white;
}

header > span#icon{
    flex: 0 1 30px;

    font-size: 3em;
    text-align: center;

    color: white;
    text-shadow: 0px 0px 15px white;

    animation: rodar 5s infinite;
}


/* ============================================MENU========================================= */
menu{
    display: block;
}

menu > div#menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: center;

}

div#menu > a{
    flex: 1 1 100px;
    padding: 5px;

    text-decoration: none;
    font-size: 1.2em;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;

    color: white;
    background-color: #383838;
    border: 1px solid white;
}

div#menu > a.ativo{
    background-color: #FFE418;
    color: black;
    font-size: 1.3em;
}


/* ============================================MAIN========================================= */
main{
    background-color: #4B554E;
}

/* ============================================SECTION========================================= */


section{
    width: 300px;
    margin: auto;
    padding: 10px 0px;
}

section > div.item{
   display: flex;
   flex-flow: row wrap;
   justify-content: space-evenly;
   align-content: center;

   padding: 7px;
   margin: 50px 0px;

   background-color: white;
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.568) ;
}

div.item > h1{
    width: 300px;
    padding: 20px 2px;

    text-align: center;
    font-size: 2.2em;
    text-transform: uppercase;
    font-family: monospace;

    color: #282828;
}

div.item > img.escudo{
    width: 140px;

    border-radius: 10px;

    animation: scala 3s infinite alternate; 
}

div.item > img.bilhete{
    width: 282px;

}


div.item > a{
    width: 300px;
    margin-top: 3px;
    padding: 5px 0px;

    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px #332d5a;
    font-weight: bold;
    text-decoration: none;

    background-color: #282828;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.425);
    color: yellow;

    animation: color 8s infinite alternate;

}

section > div.times{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: center;
 
    padding: 7px;
    margin: 50px 0px;
 
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.568) ;
 }

 div.times > img.liga{
    width: 250px;
    padding: 5px 0px;
 }

 div.times > img{
    width: 70px;
    padding: 5px 0px;
 }

 section > div.estatisticas{
    display: none ;
 }



/* ==========================================ANIMATION====================================== */

@keyframes rodar{
    0%{
        rotate: 0deg;
    }
    100%{
        rotate: 360deg;
    }
}

@keyframes scala{
    0%{
        scale: 1;
    }

    100%{
        scale: 1.05;
    }
}

@keyframes color{
    0%{
        color: yellow;
    }
   
    100%{
        color: greenyellow ;
        text-shadow: 0px 0px 5px black;
    }
}